@import './mixins';
@import './variables';
@import './custom-antd';
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.custom-sider-ant {
  flex: 0 0 15% !important;
  max-width: 15% !important;
  min-width: 15% !important;
  width: 15% !important;

  @include xl-pc {
    flex: 0 0 8% !important;
    max-width: 8% !important;
    min-width: 8% !important;
    width: 8% !important;
  }
}

button[disabled] {
  cursor: not-allowed;
}
